@charset "ISO-8859-1";
.tudo {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
.txt-regulamento {
	padding: 15px;
	margin-left:100px;
	margin-right:100px;
}
.txt-regulamento p {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	line-height: 18px;
}